.body {
    background-color: black;
}
#h1 {
    font-family: 'Bangers', cursive;
    font-size: 3em;
    letter-spacing: .25em;
    color: white;
    text-align: center;
}
.country-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  
.country-card {
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
    letter-spacing: .25em;
    width: 275px;
    padding: 20px;
    background-color: lightcyan;
    margin: 20px;
    text-align: center;
}
.country-img {
    width: 90%;
  }
.js-load-countries {
    background-color: rgba(136, 243, 216, 0.911);
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 1em;
    letter-spacing: .15em;
    padding: 5px;
}