.title {
    background-color: black;
}
#h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    letter-spacing: .25em;
    background-color: black;
    color: white;
    text-align: center;
}


  